.a{
    text-align-last: right;
}
.b{
    text-align-last: left;
}
.c{
    text-align-last: justify;
}
.d{
    direction: rtl;
}
.e{
    vertical-align: sub;
}
.f{
    vertical-align: super;
}
.m{
    text-shadow: 6px 6px 3px rgb(100, 126, 222);
    font-size: 55px;
    letter-spacing: 5px;
}
.display{
    display: inline;
}